
WindowBasedAnalysis/WindowedRepeatDensityLocal/GCA_905220365.1_ilVanCard2.1_genomic_chroms.fna.out
Figures/04_Synteny/circos.png
*.ai
VanessaAnnotation/maker3run1.all.maker.proteins.fasta
VanessaAnnotation/maker3run1.all.maker.proteins.fasta
VanessaAnnotation/maker3run1.all.maker.proteins.fasta
AnnotationV2/makerrun3.all.maker.rename.proteins.AED50.eAED50.long50.norepeatdomain.no1exon.nooverlap.noW.gff
AnnotationV2/makerrun3.all.stats.gff
