
WindowBasedAnalysis/WindowedRepeatDensityLocal/GCA_905220365.1_ilVanCard2.1_genomic_chroms.fna.out
Figures/04_Synteny/circos.png
*.ai
VanessaAnnotation/maker3run1.all.maker.proteins.fasta
VanessaAnnotation/maker3run1.all.maker.proteins.fasta
VanessaAnnotation/maker3run1.all.maker.proteins.fasta
Orthofinder/.DS_Store
Orthofinder/.DS_Store
.DS_Store
Figures/painted-lady-butterfly-vanessa-cardui-photographed-on-a-white-background-in-mobile-field-studio-peak-district-national-park-derbyshire-uk-august-2BNDDDB.psd
Figures/Figures_Main_Fig3.pdf
Figures/Figures_Main_Fig1.pdf
Figures/Figure3.pdf
Figures/Figures_Main_Fig3.pdf
